{% extends 'base.html' %}
{% block title %} CRUD_Home {% endblock %}
{% block content %}
{% load static %}

<!-- CONTAINER -->
<div class="container">
    <h1>Lista de Pessoas</h1>
    <hr>

    <!-- Lista -->
    <ul>
        {% for pessoa in pessoas %}
        <li>
            <b>ID: </b>{{ pessoa.id_pessoa}} |
            <b>Nome: </b>{{ pessoa.nome}} |
            <b>Email: </b>{{ pessoa.email}} |
            <b>CPF: </b>{{ pessoa.cpf}} |
            <a href="{% url 'alterar_pessoa' pessoa.id_pessoa %}"> Alterar </a> |
            <a href="{% url 'deletar_pessoa' pessoa.id_pessoa %}"> Excluir </a> |

        </li>
       
        {% empty %}
        <li> Nehuma Pessoa Cadastrada no Banco!!! </li>
        {% endfor %}

    </ul>
</div>
<!-- FIM DO CONTAINER -->
{% endblock %}